#!/bin/bash

. /lib/svc/share/smf_include.sh

SAB_HOME={{ sabnzbd_user_home }}
SAB_DIR={{ sabnzbd_conf_path }}
SAB_ADDR={{ sabnzbd_ip }}:{{ sabnzbd_port }}
SAB_PID={{ sabnzbd_conf_path }}/sabnzbd-{{ sabnzbd_port }}.pid
SAB_ARGS="{{ sabnzbd_service_args }}"
DAEMON={{ sabnzbd_binary_path }}/SABnzbd.py
PATH={{ sabnzbd_path_var }}

do_start()
{
	if [ -n "$SAB_DIR" ]; then
		export SAB_DIR
	fi

	$DAEMON $SAB_ARGS
}

do_stop()
{
	kill -9 `cat $SAB_PID`
}

case "$1" in
	start)
		do_start
		;;
	stop)
		do_stop
		;;
	refresh)
		do_stop
		do_start
		;;
	*)
		echo "Usage: ${0} {start|stop|refresh}" >&2
		exit $SMF_EXIT_ERR_FATAL
		;;
esac

exit $SMF_EXIT_OK
